---
import { getCollection, getEntry, getEntries, render } from 'astro:content';
import Layout from '@/components/layout_blog.astro';
import Cardsinside from '@/components/Cards-inside.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog_en');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const blogPost = await getEntry('blog_en', post.id);
const relatedPosts = await getEntries(blogPost.data.relatedPosts);
---

<style>
  .steps {
    background: var(--light);
    display: grid;
    gap: 2rem;
    grid-template-columns: min(90vw, 250px);
    justify-content: center;
    margin-top: 3rem;
    padding: 5rem 5vw;
    width: 100vw;
  }

  @media (min-width: 550px) {
    .steps {
      grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
    }
  }

  @media (min-width: 1050px) {
    .steps {
      grid-template-columns: repeat(2, min(calc(25% - 1.5rem), 250px));
    }
  }

  .step {
    background: var(--white);
    border: 1px solid var(--lightBorder);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    padding: 1rem 1.5rem 1.5rem;
    text-align: left;
    box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
    width: fit-content;
  }
  druk {
    font-family: Druk, Tahoma, sans-serif;
  }

  .stepHeading {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }
</style>

<Layout
  title={post.data.title}
  description={post.data.author.id}
  home="false"
  lang="en"
>
  <main>
    <div class="absolute -left-32 top-1/2 blur-3xl w-72 h-72 rounded-full -z-10" style="background-color: var(--blue-700);"></div>

    <div class="grid content-start w-fit">
      <Cardsinside>{post.data.title}</Cardsinside>
    </div>
        
    <Content/>

    <div class="pt-10">
        <h2 class="text-xl font-semibold">Related Posts</h2>
        <div class="grid gap-4">
          {relatedPosts.map((relatedPost) => (
            <div class="related-post">
              <a href={`/en/posts/${relatedPost.id}`} class="text-lg hover:underline">
                {relatedPost.data.title}
              </a>
              
            </div>
          ))}
        </div>
      </div>
  </main>
</Layout>