---
const { title1, description1, subtitle1, color, link1, id, home = false } = Astro.props;


---
<style>
@font-face {
    font-family: "Druk";
  
    src: url('/fonts/Druk.ttf') format('truetype');
    }

h2, .druk {
    font-family: Druk, "sans-serif";
}
</style>


<style>

    #container1 {
    width: fit-content;
    height: fit-content;
    background-color: lime;
    }


    #hidden-img-div-1{
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.5s, transform 0.5s;
        position: absolute;
        
        
        
    }
    #hidden-img-div-2{
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.5s, transform 0.5s;
        position: absolute;
    }
    #hidden-img-div-3{
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.5s, transform 0.5s;
        position: absolute;
    }
    #hidden-img-div-4{
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.5s, transform 0.5s;
        position: absolute;
    }


</style>


<astro-greet data-message={id}>
  </astro-greet>



<section class="step lg:pb-10 md:pb-10 sm:pb-32 w-fit">
    <h2 id={`hidden-img-${id}`} class={color}>{title1}</h2>
    <h3 class="red-text font-formabold">{subtitle1}</h3> 
    <p>
    <Fragment set:html={description1}/>
    </p>
    
  </section>
