---
import { getRelativeLocaleUrl } from 'astro:i18n'
import Footer from '../components/footer.astro';
import Metrika from '../components/metrika.astro';
const { title, description, home = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preload" href="/fonts/PacaembuVar-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/MulishVar-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/NormalidadVar-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Druk.ttf" as="font" type="font/truetype" crossorigin>
  <link rel="preload" href="/fonts/Forma-Regular.woff" as="font" type="font/woff" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest" />

  <meta property="og:url" content="https://sgordeev.xyz/">
  <meta property="og:title" content="Сергей Гордеев">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Сергей Гордеев — предприниматель и технический лидер">
  <meta property="og:image" content="/images/me_studio_wb.webp">
  <meta property="og:image:alt" content="Сергей Гордеев — предприниматель">



  <meta name="msapplication-TileColor" content="#5cebdf" />
  <meta name="theme-color" content="#FFF7ED" />
  <title>{title}</title>

  <link rel="stylesheet" href="/global.css">
  <style is:global>
  

    body {
      @apply sm:p-8;
      @apply lg:p-20;
      @apply md:p-20;
      @apply xl:p-20;
    
      max-width: 1200px;
    }
   
    .druk {
      font-family: Druk, Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .maintext
    {
      font-family: Normalidad, Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 100;
      font-size: 1.0rem;

    }
  </style>
</head>
<body class="text-gray-900 bg-orange-50 font-forma text-lg">
  
  <header class="container">
    <div id="container" class="container mx-auto h-fit w-fit">


    {home !== true && (
    
    <h1 class="text-3xl pb-5 font-sans druk uppercase">{title}</h1>
    <div class="flex flex-wrap">
            <div class="w-full md:w-3/4 mb-4 pr-4 sm:w-full">
              <div class="h-full">
          <p class="description fon">{description}</p>
          <p class="pt-5  hover:text-red-500 transition transform ease-in-out hover:-translate-x-2 duration-300 ">
         <a href='/'>&larr; назад</a>
          
        </p>
    
          <slot />
        </div></div>
        <div class="w-full md:w-1/4">
          <div class="h-full -p-5 pl-0">
            
          </div>
          </div>
        </div>
      
      

  )}

  
    

  {home == true && (
    
        <h1 class="red-text text-3xl pb-5 font-sans druk ">{title}</h1>
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 mb-4 md:mb-0 pr-4">
              <div class="h-full">
          <p class="description"><Fragment set:html={description}/></p>
          <slot />
        </div></div>
        <div class="w-full md:w-1/2 -mt-16">
          <div class="pl-5">
            <img src="/images/me_studio_wb.webp" alt="Cергей Гордеев — предприниматель, сооснователь Берисамокат и Кофе Культ" class="object-cover h-full w-full rounded-3xl">
          </div>
          </div>
        </div>
      
     
  )}
  
  </header>
 
 

 

<Footer/>
<Metrika/>
</body>
</html>
